name: Build APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

     
      - name: Install Android SDK
        run: |
          choco install -y android-sdk
          echo "y" | sdkmanager --licenses
          sdkmanager "platform-tools" "build-tools;30.0.3" "platforms;android-30"

      - name: Build Xamarin.Android APK
        run: |
          msbuild MentalTest.Android/MentalTest.Android.csproj /t:PackageForAndroid /p:Configuration=Release /p:AndroidPackageFormat=apk

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-release
          path: MentalTest.Android/bin/Release/*.apk
